
.focusedElement {
    color: white !important;
    /* transform: scale(1.2) !important; */
    transition: all 0.5s ease;
}

.App {
    background-color: #1e1e1e;
    min-height: calc(100vh - 5rem);
    padding: 0rem 5rem 5rem 5rem;
}

.mockWebElement {
    margin: 1rem;
    color: #1e1e1e;;
}

.indexWebsiteIcon {
    width: 2.125rem;
    height: 2.125rem;
    margin-right: 2rem;
}

.websiteLogo {
    margin-right: 1.5rem;
    width: 3rem;
    height: 3rem;
}

.tooltipLink {
    color: white !important;
}

.liSpacing {
    margin-bottom: 0.5rem;
}

.componentPage {
    border-radius: 4rem !important;
    background-color: #2d2d30 !important;
}

.whiteDivider {
    border-color: #ccc !important;
}

.MuiBadge-badge {
    right: 24px!important;
    background-color: #ff3333 !important;
    z-index: 9999 !important;
}

.tooltipText {
    font-size: 1rem;
}

.jobLink {
    color: white !important;
}

.greenFab:hover {
    background-color: #12641D !important;
}

.redFab:hover {
    background-color: #800000 !important;
}

.blueFab:hover {
    background-color: #0D3D6D !important;
}

.MuiDataGrid-columnHeader {
    background-color: #1e1e1e;
    color: white;
}

.MuiDataGrid-selectedRowCount {
    display: none !important;
}