
.focusedElement {
    color: blue !important;
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.App {
    background-color: lightblue;
    min-height: 100vh;
    padding: 5rem;
}

.mockWebElement {
    margin: 1rem;
    color: #ccc;
}

.indexWebsiteIcon {
    width: 2.125rem;
    height: 2.125rem;
    margin-right: 2rem;
}

.websiteLogo {
    margin-right: 1.5rem;
    width: 3rem;
    height: 3rem;
}

.tooltipLink {
    color: white !important;
}

.liSpacing {
    margin-bottom: 0.5rem;
}